
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Paneli</title>

    <link rel="stylesheet" href="~/web-AdminLogin/style.css">
</head>
<body>

    <div class="container">
        <div class="contact-form">
            <img src="~/web-AdminLogin/image/50426.jpg" class="admin-img">
            <h2>Admin Login</h2>
            @using (Html.BeginForm("Index", "Login", FormMethod.Post))
            {
                <div class="txtb">
                    <input type="text" name="UserName" placeholder="Username">
                </div>
                <div class="txtb">
                    <input type="password" name="pwd" placeholder="Password">
                </div>
                <input type="submit" class="loginbtn" value="Login">
            }
        </div>
    </div>
</body>
</html>