@using WebApplication1.Models.Classes
@model List<Admin>
@{
    ViewBag.Title = "ListAdmin";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Adminler</h2>


<br />

<table class="table table-bordered mt-3 ">
    <tr>
        <th>ID</th>
        <th>Kullanıcı Adı</th>
        <th>Şifre</th>
        <th>Güncelle</th>
        <th>Sil</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.Id</td>
            <td>@x.UserName</td>
            <td>@x.pwd</td>
            <td><a href="/Admin/BringAdmin/@x.Id" class="btn btn-primary">Güncelle</a></td>
            <td><a href="/Admin/DeleteAdmin/@x.Id" class="btn btn-danger">Sil</a></td>
        </tr>
    }


</table>
<br />
<a href="/Admin/NewAdmin" class="btn btn-primary"> Yeni Admin Ekle</a>
<br />
<br />